<app-header></app-header>

<!-- Using Latest feature -->
<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
        <app-user [user]="user" (select)="onSelectUser($event)" />
      </li>
    }
  </ul>

  @if (selectedUserId) {
    <app-tasks
      [userId]="selectUser?.id"
      [name]="selectUser ? selectUser.name : ''"
    ></app-tasks>
  } @else {
    <p id="fallback">Select a user to see thier tasks</p>
  }
</main>

<!-- Using Legacy NGFor and NGIf -->
<!-- <main>
  <ul id="users">
    <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
  </ul>

  <app-tasks
    *ngIf="selectUser; else fallback"
    [name]="selectUser ? selectUser.name : ''"
  ></app-tasks>

  <ng-template #fallback>
    <p id="fallback">Select a user to see thier tasks</p>
  </ng-template>
</main> -->
