<!-- TRaditional way of user -->
<!-- 

<div>
  <button (click)="onSelectedUser()">
    <img [src]="imagePath" [alt]="selectedUser.name" />
    <span>{{ selectedUser.name }} </span>
  </button>
</div> 

-->

<!-- Signal -->
<!-- <div>
  <button (click)="onSelectedUser()">
    <img [src]="imagePath()" [alt]="selectedUser().name" />
    <span>{{ selectedUser().name }} </span>
  </button>
</div> -->

<!-- Using input() anotation -->
<div>
  <button (click)="onSelectedUser()">
    <img [src]="imagePath" [alt]="user?.name" />
    <span>{{ user?.name }} </span>
  </button>
</div>

<!-- Using input signals -->
<!-- <div>
  <button (click)="onSelectedUser()">
    <img [src]="imagePath()" [alt]="name()" />
    <span>{{ name() }} </span>
  </button>
</div> -->
